.container {
  position: absolute;
  top: 25px;
  left: calc(50% + 210mm / 2);
  transform: translateX(20%);
  background-color: rgb(26, 26, 26);
  width: 150px;
  border-radius: 7.5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 10px 20px;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    button {
      all: unset;
      color: white;
      font-size: 14px;
      text-align: center;
      border: 1px solid aqua;
      border-radius: 5px;
      padding: 4px 8px;
      cursor: pointer;
      transition: 0.3s all ease-out;

      &:hover {
        background-color: aquamarine;
      }
    }
  }
}
