@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRound.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRound.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundBold.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundBoldItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundExtraLight.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundExtraLightItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundExtraLightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundHeavy.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundHeavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundHeavyItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundHeavyItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundLight.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundLightItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundMedium.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundMediumItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundSemiBold.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundSemiBoldItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundThin.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundThin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BoxedRound";
  src: url("/fonts/BoxedRound/BoxedRoundThinItalic.woff2") format("woff2"),
    url("/fonts/BoxedRound/BoxedRoundThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
